nav.pure-u-1-1.pure-menu.pure-menu-horizontal
  span.pure-menu-heading Play By Chat
  ul.pure-menu-list.pure-menu-horizontal
    - if controller_name != 'sessions'
      li.pure-menu-item
        = link_to 'Log in', new_session_path(resource_name)

    - if devise_mapping.registerable? && controller_name != 'registrations'
      li.pure-menu-item
        = link_to 'Sign up', new_registration_path(resource_name)

    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        li.pure-menu-item
          = link_to 'Sign in with #{OmniAuth::Utils.camelize(provider)}', omniauth_authorize_path(resource_name, provider)

    - if /devise/i =~ controller.class.name
      - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
        li.pure-menu-item
          = link_to 'Forgot your password?', new_password_path(resource_name)

      - if devise_mapping.confirmable? && controller_name != 'confirmations'
        li.pure-menu-item
          = link_to 'Didn\'t receive confirmation instructions?', new_confirmation_path(resource_name)

      - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
        li.pure-menu-item
          = link_to 'Didn\'t receive unlock instructions?', new_unlock_path(resource_name)
