h1
  | Welcome
  | &nbsp;
  = user.username

.section
  h2 Personal Data

  .pure-g
    .pure-u-1-5
    .pure-u-1-5
      label First name:
    .pure-u-2-5
      = user.firstname
    .pure-u-1-5

    .pure-u-1-5
    .pure-u-1-5
      label Last name:
    .pure-u-2-5
      = user.lastname
    .pure-u-1-5

    .pure-u-1-5
    .pure-u-1-5
      label Email:
    .pure-u-2-5
      = user.email
    .pure-u-1-5
