doctype html
html
  head
    title Play By Chat
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    - link_folder = self.respond_to?(:resource_name) ? 'devise' : 'layouts'
    div.pure-g
      = render "#{link_folder}/shared/links"
      div.pure-u-1-1
        p.notice
          = notice
        p.alert
          = alert
        == yield
