.authentication
  h2 Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    div.field
      = f.label :email
      = f.email_field :email, autofocus: true

    div.field
      = f.label :password
      = f.password_field :password, autocomplete: 'off'

    - if devise_mapping.rememberable?
      div.field
        = f.label :remember_me
        = f.check_box :remember_me

    div.actions
      = f.submit 'Log in'
