.authentication
  h2 Sign up

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    .field
      = f.label :email
      = f.email_field :email, autofocus: true

    .field
      = f.label :password
      = f.password_field :password, autocomplete: 'off'
      .tip
        - if @minimum_password_length
          em
            = @minimum_password_length
            | &nbsp; characters minimum

    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: 'off'

    .actions
      = f.submit 'Sign up'
