nav.pure-u-1-1.pure-menu.pure-menu-horizontal
  span.pure-menu-heading Play By Chat
  - if user_signed_in?
    = render 'layouts/shared/loggedin_links'
  - else
    = render 'layouts/shared/loggedout_links'
