ul.pure-menu-list.pure-menu-horizontal
  li.pure-menu-item
    | Hello #{current_user.username}
  li.pure-menu-item
    = link_to 'My Account', user_path(current_user)
  li.pure-menu-item
    = form_tag destroy_session_path(User), method: :delete do
      = submit_tag 'Log out', class: :link
