$light:  #fafaff; // #f0faff;
$medium: #888899; // #0066aa;
$dark:   #444455; // #0066aa;
$notice: #ccccff;
$alert:  #ff9999;

body {
  font-family: Helvetica;
  background-color: $light;
  color: $dark;
  font-variant: small-caps;
}

.pure-g [class *= "pure-u"] {
  font-family: Helvetica;
  font-size: medium;
}

h1, h2, h3, h4, h5 {
  font-variant: small-caps;
}
h1, h2 {
  text-align: center;
  font-size: x-large;
}
h3, h4, h5 {
  font-size: large;
}

.notice, .alert {
  margin: 10px;
  padding: 10px;
  border: thin solid $dark;
  text-align: center;
  &:empty {
    display: none;
  }
}

.notice {
  background-color: $notice;
}

.alert {
  background-color: $alert;
}

label {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  width: 90%;
}

form {
  width: 60%;
  margin: auto;
  text-align: center;
  border: thin solid $medium;
  padding: 10px;
  div.field {
    margin-bottom: 5px;
    input {
      display: inline-block;
    }
    label {
      width: 30%;
    }
    input {
      width: 60%;
      text-align: left;
    }
  }
}

nav {
  font-variant: small-caps;
  padding-left: 10px;
  &.pure-menu {
    background-color: $dark;
    color: $light;
    .pure-menu-heading {
      color: $light;
      font-size: large;
    }
    a {
      color: $light;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .pure-menu-item {
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      border-right: thin solid $light;
      &:last-child {
        border-right: none;
      }
    }
  }
  form {
    border: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    input.link {
      color: $light;
      background: none;
      border: none;
      box-shadow: none;
      text-shadow: none;
      display: inline;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
